<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ваша заказ</title>
</head>
<body>

<form th:method="post" th:object="${newOrder}" th:action="@{/order/current}">
  <label for="address">Введите адрес</label>
  <input type="text" th:field="*{address}" id="address" name="address">
</br>
  <label for="address">Введите примечания к заказу</label>
  <input type="text" th:field="*{info}" id="info" name="info">
  </br>

  <div th:each="product :${order.products}">
    <a th:href="@{/menu/{id}(id=${product.getId()})}"
       th:text="${product.title + ', ' + product.description+ ', ' +product.volume+ ', ' +product.price}">user</a>
    <a th:href="@{/order/deleteFromOrder/{id}(id=${product.getId()})}"><i class="fa-solid fa-trash"></i></i></a>
    <img th:src="@{${product.image}}">
  </div>
    </br>
  <p th:text="${newOrder.fullPrice}"></p>
  </br>
    <input type="submit" value="Заказать">
    </form>

<script src="https://kit.fontawesome.com/f280ff59d1.js" crossorigin="anonymous"></script>






</body>
</html>