<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="user: ${users}">
  <a th:href="@{/user/{id}(id=${user.getId()})}"
     th:text="${user.name +', ' +user.surname+ ', ' +user.password+ ', ' +user.email+ ', ' +user.phoneNumber+ ', ' +user.role}">user</a>
    <a class="btn btn-success" th:href="@{/user/{id}/edit(id=${user.id})}"><i class="fa-solid fa-pen-to-square"></i></a>
    <a class="btn btn-danger" th:href="@{/user/delete/{id}/(id=${user.id})}"><i class="fa-solid fa-trash-can"></i></a>
</div>



<script src="https://kit.fontawesome.com/f280ff59d1.js" crossorigin="anonymous"></script>
</body>
</html>