<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="post"  th:object="${user}">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Имя"></br>
    <label for="surname">Введите фамилию</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Фамилия"></br>
    <label for="password">Придумайте пароль</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Пароль"></br>
    <label for="email">Введите email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email"></br>
    <label for="phoneNumber">Введите номер телефона</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Номер телефона"></br>
    <input type="submit" value="Зарегистрироваться">
</form>
</body>