<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="post" th:object="${newProduct}">
    <label for="title">Введите название блюда</label>
  <input type="text" th:field="*{title}" id="title" placeholder="Название"></br>
    <label for="description">Введите описание блюда</label>
  <input type="text" th:field="*{description}" id="description" placeholder="Описание"></br>
    <label for="volume">Введите массу/объем блюда</label>
  <input type="text" th:field="*{volume}" id="volume" placeholder="Объем или масса"></br>
    <label for="price">Введите цену</label>
  <input type="text" th:field="*{price}" id="price" placeholder="Цена"></br>
    <label for="image">Введите ссылку на фото</label>
    <input type="text" th:field="*{image}" id="image" placeholder="Фото"></br>
    <label for="price">Выберите тип продукта</label>
    <select th:object="${newProduct}" th:field="*{type}" th:id="type">
        <option th:each="type: ${types}" th:value="${type.getId()}" th:text="${type.title}">
        </option>
    </select>
  <input type="submit" value="Добавить продукт">
</form>
</body>
</html>