<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Суши-Бар "Киото"</title>
    <script defer="defer" src="/public/js/main.js"></script>
    <link href="/public/css/main.css" rel="stylesheet">
</head>

<body>
<header class="container-xl header">
    <div class="header__logo"><a href="/" class="navbar-brand"><img src="/images/logo/logo.png"
                                                                    alt='Суши-Бар "Киото"' id="logoImg"></a></div>
    <div class="user-cart-container ms-auto">
        <div>
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                <i class="bi bi-person fs-5"></i>
            </a>
            <ul th:if="${not_auth}" class="dropdown-menu" aria-labelledby="signDropdown">
                <li><a class="dropdown-item" href="/registration">Регистрация</a></li>
                <li><a class="dropdown-item" href="/login">Вход</a></li>
            </ul>
            <ul th:if="${auth}" class="dropdown-menu" aria-labelledby="signDropdown">
                <li>&nbsp;<span th:text="${auth_user.username}"></span><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/user/myRoom">Настройки</a></li>
                <li><a class="dropdown-item" href="/logout">Выход</a></li>

            </ul>
        </div>
        <div id="cart" class="header-cart mx-2 dropdown">
            <button class="dropdown-button dropdown-toggle" type="button" id="cartDropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-loading-text="Загрузка..." aria-expanded="false">
                <i class="bi bi-basket3 mx-2 fs-5"></i>
                <span id="cart-total" th:text="'Корзина '+'('+${order.getProducts().size()}+')'+ ' '+ ${order.fullPrice}+'р'"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cartDropdown">
                <li class="d-flex justify-content-center my-2" th:if="${order.getProducts().size()} > 0">
                    <a href="/order/current" class="btn btn-success">Оформить заказ</a>
                </li>
                <li th:if="${order.getProducts().size()} == 0">
                    <p class="text-center py-3 px-2 mb-0" >Ваша корзина пуста!</p>
                </li>
            </ul>
        </div>
    </div><button class="btn" type="button" id="mobileMenu" title="Открыть меню"><i class="bi bi-list"></i></button>
    <nav class="navbar navbar-expand-md mx-auto nav-menu">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto">
                <li class="nav-item nav-menu__menu-dropdown me-xl-4"><a class="nav-link dropdown-toggle"
                                                                        role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">Меню</a>
                    <ul class="dropdown-menu dropdown-menu-start">
                        <li><a class="dropdown-item" href="/menu/sushi">Суши</a></li>
                        <li><a class="dropdown-item" href="/menu/roll">Роллы</a></li>
                        <li><a class="dropdown-item" href="/menu/sets">Наборы</a></li>
                        <li><a class="dropdown-item" href="/menu/hot-rolls">Горячие роллы</a></li>
                        <li><a class="dropdown-item" href="/menu/dessert">Десерты</a></li>
                        <li><a class="dropdown-item" href="/menu/salad">Салаты</a></li>
                        <li><a class="dropdown-item" href="/menu/drinks">Напитки</a></li>
                        <li><a class="dropdown-item" href="/menu/sauce">Соусы</a></li>
                    </ul>
                </li>
                <li class="nav-item me-xl-4">
                    <a class="nav-link" href="/kioto">
                        О "Киото"
                    </a>
                </li>
                <li class="nav-item me-xl-4">
                    <a class="nav-link" href="/delivery_info">
                        Заказ и Доставка
                    </a>
                </li>
                <li class="nav-item me-xl-4 ">
                    <a class="nav-link" href="/contacts">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
            <ol class="breadcrumb m-4">
                <li class="breadcrumb-item"><a href="/"><i class="bi bi-house-door-fill text-danger"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page text-disabled">Роллы</li>
            </ol>
        </nav>
        <div class="d-flex">
            <aside class="w-25 d-lg-block d-none">
                <ul class="list-unstyled fs-5 product-sidebar">
                    <li><a class="text-decoration-none text-dark" href="/menu/sushi">Суши</a></li>
                    <li><a class="text-decoration-none text-dark product-sidebar__active"
                           href="/menu/roll">Роллы</a></li>
                    <li><a class="text-decoration-none text-dark" href="/menu/sets">Наборы</a></li>
                    <li><a class="text-decoration-none text-dark" href="/menu/hot-rolls">Горячие роллы</a></li>
                    <li><a class="text-decoration-none text-dark" href="/menu/dessert">Десерты</a></li>
                    <li><a class="text-decoration-none text-dark" href="/menu/salad">Салаты</a></li>
                    <li><a class="text-decoration-none text-dark" href="/menu/drinks">Напитки</a></li>
                    <li><a class="text-decoration-none text-dark" href="/menu/sauce">Соусы</a></li>
                </ul>
            </aside>
            <div>
                <h1 class="title-section"><span class="position-relative">Роллы</span></h1>
                <div class="d-flex flex-wrap mb-4 justify-content-center" >
                    <div class="product d-flex flex-column justify-content-center align-items-center p-2 pb-4 m-2" th:each="roll:${rolls}">
                        <a th:href="@{/menu/{id}(id=${roll.getId()})}"
                           class="text-decoration-none text-dark d-flex justify-content-center align-items-center flex-column text-center"><img
                                class="w-100" th:src="@{${roll.image}}" alt="">
                            <div>
                                <p class="fw-bold price" th:text="${roll.price + ' р'}">400р</p>
                                <p class="name" th:text="${roll.title}">Филадельфия</p>
                            </div>
                        </a><a th:href="@{/menu/add-product/{id}(id=${roll.getId()})}" class="btn btn-success">В
                        корзину</a></div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="p-lg-5 p-2 footer">
    <div class="container-md">
        <div class="logo m-4"><img src="/images/logo/footer-logo.png" alt="Суши-Бар 'Киото'"></div>
        <div class="row p-md-3">
            <div class="col-md-2">
                <ul class="list-unstyled mb-md-0">
                    <li><a class="text-light footer__nav-link" href="/kioto">О "Киото"</a></li>
                    <li><a class="text-light footer__nav-link" href="/delivery_info">Заказ и доставка</a></li>
                    <li><a class="text-light footer__nav-link" href="/policy">Политика конфиденциальности </a></li>
                </ul>
                <div class="social my-2"><a href="#" target="_blank"><img class="w-100" src="/images/social/vk.svg"
                                                                          alt="VK"></a></div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-6 w-md-100 p-2">
                <div class="contacts d-flex flex-column align-items-center p-md-4 mt-lg-n4">
                    <div>
                        <div class="mb-3"><span class="text-light fs-4">Суши-бар "Киото"</span></div>
                        <div class="mb-3"><span class="text-light">Адрес: Вроцлав, ул. Асфальтова, д. 1</span></div>
                        <div class="mb-3"><span class="text-light">Телефон: <a
                                class="text-light text-decoration-none"
                                href="tel:+7883889988">+7-888-388-99-88</a></span></div>
                        <div class="mb-3"><span class="text-light">Режим работы:<br>Вс-Чт с 12.00 до 01.00<br>Пт-Сб
                                    с 12.00 до 02.00</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>

