<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Суши</title>
</head>
<body>
<a href="/order/current" th:text="'Корзина '+${order.products.size()}"></a>

<div th:each="sushi: ${sushis}">
    <a th:href="@{/menu/{id}(id=${sushi.getId()})}"
         th:text="${sushi.title + ', ' +sushi.volume+ ', ' +sushi.price}">user</a>
    <a th:href="@{/menu/add-product/{id}(id=${sushi.getId()})}"><i class="fa-solid fa-plus"></i></a>
    <img th:src="@{${sushi.image}}">

</div>
<script src="https://kit.fontawesome.com/f280ff59d1.js" crossorigin="anonymous"></script>
</body>
</html>