<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script defer="defer" src="/public/js/main.js"></script>
    <link href="/public/css/main.css" rel="stylesheet">
</head>
<body>
    <header>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="#">
                Admin Panel
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
       
        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="mr-3 mt-1">
                <span></span>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                  Привет, <span th:text="${user1.username}"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <li><a class="dropdown-item" href="/user/myRoom">Настройки</a></li>
                  <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                </ul>
              </div>
        </div>
    </nav>
</header>
<main class="container mt-4">
  <form th:method="Post"  th:object="${user}" th:action="@{/user/{id}(id=${user.id})}">
    <div class="form-outline mb-4">
    <label for="username">Введите nickname</label>
    <input type="text" th:field="*{username}" id="username" placeholder="username" class="form-control">
  </div>
  <div class="form-outline mb-4">
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Имя" class="form-control">
  </div>
  <div class="form-outline mb-4">
    <label for="surname">Введите фамилию</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Фамилия" class="form-control">
  </div>
  <div class="form-outline mb-4">
    <label for="password">Придумайте пароль</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Пароль" class="form-control">
  </div>
  <div class="form-outline mb-4">
    <label for="email">Введите email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email" class="form-control">
  </div>
  <div class="form-outline mb-4">
    <label for="phoneNumber">Введите номер телефона</label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Номер телефона" class="form-control">
  </div>
  <div class="form-outline mb-4" th:if="${admin}">
  <label th:for="role">Выберите роль</label>
  <select th:object="${user}" th:field="*{role}" th:id="role" class="form-select">
    <option th:each="role: ${roles}" th:value="${role.id}" th:text="${role.name}" > 
    123</option>
  </select>
</div>
    <button type="submit" class="btn btn-primary">Редактировать</button>
  </form>
    
</main>
</body>
</html>