<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

<p>Тут будет обычая главная страничка, с какими то новостями особого смылсл в ней нет</p>
<a href="/menu/sushi">Cуши</a>
<a href="/menu/roll">Роллы</a>
<a href="/menu/sets">Наборы</a>
<a href="/menu/hot-rolls">Горячие роллы</a>
<a href="/menu/dessert">Десерты</a>
<a href="/menu/drinks">Напитки</a>
<a href="/menu/salad">Салаты</a>
<a href="/menu/sauce">Соусы</a>
<a href="/login"> Войти</a>
<a href="/registration">Зарегистрироваться</a>
<a href="">Наши контакты</a>

<div th:each="product:${randList}">
<a th:href="@{/menu/{id}(id=${product.getId()})}"
   th:text="${product.title + ', ' +product.volume+ ', ' +product.price}">user</a>
<img th:src="@{${product.image}}">
</div>
</body>
</html>