<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script defer="defer" src="/public/js/main.js"></script>
    <link href="/public/css/main.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="/admin">
                Admin Panel
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="col-12 col-md-5 col-lg-8 d-flex align-items-center justify-content-md-end mt-3 mt-md-0">
            <div class="mr-3 mt-1">
                <span></span>
            </div>
            <div class="dropdown">

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="/user/myRoom">Личный кабинет</a></li>
                    <li><a class="dropdown-item" href="/logout">Выйти</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container mt-4">

    <form th:method="post" th:object="${newProduct}">
        <div class="form-outline mb-4">
            <label for="title">Введите название блюда</label>
            <input type="text" th:field="*{title}" id="title" placeholder="Название" class="form-control">
            <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
        </div>
        <div class="form-outline mb-4">
            <label for="description">Введите описание блюда</label>
            <input type="text" th:field="*{description}" id="description" placeholder="Описание" class="form-control">
            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description  Error</div>
        </div>
        <div class="form-outline mb-4">
            <label for="volume">Введите массу/объем блюда</label>
            <input type="text" th:field="*{volume}" id="volume" placeholder="Объем или масса" class="form-control">
            <div style="color:red" th:if="${#fields.hasErrors('volume')}" th:errors="*{volume}">Volume Error</div>
        <div class="form-outline mb-4">
            <label for="price">Введите цену</label>
            <input type="text" th:field="*{price}" id="price" placeholder="Цена" class="form-control">
            <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price  Error</div>
            <div class="form-outline mb-4"></div>
            <label for="image">Введите ссылку на фото</label>
            <input type="text" th:field="*{image}" id="image" placeholder="Фото"  class="form-control">
            <div class="form-outline mb-4">
                <label th:for="type">Выберите тип продукта</label>
                <select th:object="${newProduct}" th:field="*{type}" th:id="type" class="form-select">
                    <option th:each="type: ${types}" th:value="${type.getId()}" th:text="${type.title}">123
                    </option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Добавить продукт</button>
        </div>
    </form>

</main>
</body>
</html>