<!DOCTYPE html>
<html lang="ru-RU" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Суши-Бар "Киото"</title>
    <script defer="defer" src="/public/js/main.js"></script>
    <link href="/public/css/main.css" rel="stylesheet">
</head>

<body>
  <header class="container-xl header">
    <!-- Logo block -->
    <div class="header__logo">
        <a href="/" class="navbar-brand">
            <img src="/images/logo/logo.png" alt='Суши-Бар "Киото"' id="logoImg">
        </a>
    </div>
    <!-- Logo block -->

    <div class="user-cart-container ms-auto">
        <!-- SignIn and SignUp  block -->
        <div>
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                <i class="bi bi-person fs-5"></i>
            </a>
            <ul th:if="${not_auth}" class="dropdown-menu" aria-labelledby="signDropdown">
                <li><a class="dropdown-item" href="/registration">Регистрация</a></li>
                <li><a class="dropdown-item" href="/login">Вход</a></li>
            </ul>
            <ul th:if="${auth}" class="dropdown-menu" aria-labelledby="signDropdown">
                <li>&nbsp;<span th:text="${auth_user.username}"></span><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/user/myRoom">Настройки</a></li>
                <li><a class="dropdown-item" href="/logout">Выход</a></li>

            </ul>
        </div>
        <!-- SignIn and SignUp  block -->

        <!-- Cart empty block -->
        <!-- <div id="cart" class="header-cart mx-2 dropdown">
            <button type="button" id="cartDropdown" data-bs-toggle="dropdown" data-bs-offset="10,20" data-loading-text="Загрузка..." class="dropdown-toggle" aria-expanded="false">
                <i class="bi bi-basket3 mx-2 fs-5"></i>
                <span id="cart-total">Корзина: 0 (0 руб)</span></button>
            <ul class="dropdown-menu pull-right" aria-labelledby="cartDropdown">
                <li>
                <p class="text-center py-3 px-2 mb-0" >Ваша корзина пуста!</p>
              </li>
            </ul>
          </div> -->
        <!-- Cart empty block -->
        <!-- Cart not empty block -->
        <div id="cart" class="header-cart mx-2 dropdown">
            <button class="dropdown-button dropdown-toggle" type="button" id="cartDropdown" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-loading-text="Загрузка..." aria-expanded="false">
                <i class="bi bi-basket3 mx-2 fs-5"></i>
                <span id="cart-total" th:text="'Корзина '+'('+${order.getProducts().size()}+')'+ ' '+ ${order.fullPrice}+'р'"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cartDropdown">
                <li class="d-flex justify-content-center my-2" th:if="${order.getProducts().size()} > 0">
                    <a href="/order/current" class="btn btn-success">Оформить заказ</a>
                </li>
                <li th:if="${order.getProducts().size()} == 0">
                    <p class="text-center py-3 px-2 mb-0" >Ваша корзина пуста!</p>
                </li>
            </ul>
        </div>
        <!-- Cart not empty block -->
    </div>
    <!-- Nav block -->
    <button class="btn" type="button" id="mobileMenu" title="Открыть меню"><i class="bi bi-list"></i></button>
    <nav class="navbar navbar-expand-md mx-auto nav-menu">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto">
                <li class="nav-item nav-menu__menu-dropdown me-xl-4">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" href="#">
                    Меню
                    </a>
                    <ul class="dropdown-menu dropdown-menu-start">
                        <li><a class="dropdown-item" href="/menu/sushi">Суши</a></li>
                        <li><a class="dropdown-item" href="/menu/roll">Роллы</a></li>
                        <li><a class="dropdown-item" href="/menu/sets">Наборы</a></li>
                        <li><a class="dropdown-item" href="/menu/hot-rolls">Горячие роллы</a></li>
                        <li><a class="dropdown-item" href="/menu/dessert">Десерты</a></li>
                        <li><a class="dropdown-item" href="/menu/salad">Салаты</a></li>
                        <li><a class="dropdown-item" href="/menu/drinks">Напитки</a></li>
                        <li><a class="dropdown-item" href="/menu/sauce">Соусы</a></li>

                    </ul>
                </li>
                <li class="nav-item me-xl-4">
                    <a class="nav-link" href="/kioto">
                        О "Киото"
                    </a>
                </li>
                <li class="nav-item me-xl-4">
                    <a class="nav-link" href="/delivery_info">
                        Заказ и Доставка
                    </a>
                </li>
                <li class="nav-item me-xl-4 ">
                    <a class="nav-link" href="/contacts">
                        Контакты
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Nav block -->
</header>
        <main class="container">
            <!-- Breadcrumbs -->
            <nav style="--bs-breadcrumb-divider: '/';" aria-label="breadcrumb">
                <ol class="breadcrumb m-4">
                    <li class="breadcrumb-item"><a href="/"><i
                                class="bi bi-house-door-fill text-danger"></i></a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page text-disabled">Политика
                        конфиденциальности</li>
                </ol>
            </nav>
            <!-- Breadcrumbs -->
            <h1 class="title-section">
                <span class="position-relative">Политика конфиденциальности</span>
            </h1>
            <div class="mb-5 pb-5">
                <p> Этот
                        договор является официальным и публичным предложением
                        Продавца заключить договор купли-продажи Товара,
                        представленного на сайте интернет-магазина. Этот договор является публичным, т.е.
                        в соответствии со статьей 633 Гражданского кодекса
                        Украины, его условия одинаковы для всех покупателей
                        независимо от статуса (физическое лицо, юридическое
                        лицо, физическое лицо предприниматель). Путем заключения
                        настоящего Договора Покупатель в полном объеме принимает
                        условия и порядок оформления заказа, оплаты товара,
                        доставки товара, возврата товара, ответственности за
                        недобросовестный заказ и все другие условия договора.
                        Договор считается заключенным с момента нажатия кнопки
                        «Оплатить» на сайте интернет-магазина 
                        или кнопок заявки на покупку/консультацию. </p><h3>Термины
                        и определения</h3><p> 1.1. Товар - объект соглашения
                        сторон, который был избран покупателем на сайте
                        , по которому Покупателем от Продавца
                        дистанционно или из рук в руки получен счет на оплату.
                        1.2. Интернет-магазин- сайт Продавца
                        по адресу , созданный для заключения
                        договоров розничной и оптовой купли-продажи на основании
                        ознакомления Покупателя с предложенным продавцом
                        описанием Товара с помощью сети Интернет. 1.3.
                        Покупатель - дееспособное физическое лицо, достигшее 18
                        лет, которое получает информацию от Продавца, размещает
                        заказ по покупки товара, который представлен на сайте
                        интернет-магазинадля целей, не
                        связанных с осуществлением предпринимательской
                        деятельности, или юридическое лицо или физическое лицо
                        предприниматель. 1.4. Продавец - Общество с ограниченной
                        ответственностью «Фореллис», юридическое лицо, которое
                        создано и действует соответствии с действующим
                        законодательством Украины</p><h3>Предмет договора и
                        порядок его заключения</h3><p> 2.1. Продавец обязуется
                        передать в собственность Покупателю товар, а Покупатель
                        обязуется оплатить и принять товар на условиях
                        настоящего Договора. 2.2. Датой заключения договора-
                        оферты (акцептом оферты) и моментом полного и
                        беспрекословного принятием Покупателем условий Договора
                        считается дата заполнения покупателем формы заказа,
                        расположенной на сайте интернет-магазина
                        . В случае необходимости, по желанию
                        Покупателя, Договор может быть оформлен в письменной
                        форме </p><h3>Цена товара</h3><p> 4.1 Цены на товары
                        определяются Продавцом самостоятельно и указаны на сайте
                        интернет-магазина . Все цены на товары
                        указаны на сайте в гривнах с учетом НДС. 4.2 Цены на
                        товары могут меняться Продавцом в одностороннем порядке
                        в зависимости от рынка. При этом цена отдельной единицы
                        Товара, стоимость которой оплачена Покупателем в полном
                        объеме, не может быть изменена Продавцом в одностороннем
                        порядке. 4.3. Стоимость доставки Товара в цену Товара не
                        входит. </p><h3>Права и обязанности сторон</h3><p> 5.1.
                        Продавец обязан: 5.1.1. Передать Покупателю товар в
                        соответствии с условиями настоящего Договора и заказа
                        Покупателя. 5.1.2. Не разглашать любую частную
                        информацию о Покупателе и не предоставлять доступ к этой
                        информации третьим лицам, за исключением случаев,
                        предусмотренных законодательством, или по желанию самого
                        Покупателя. 5.2. Продавец имеет право: 5.2.1 Изменять
                        условия настоящего Договора, а также цены на товары в
                        одностороннем порядке, помещая их на сайте
                        интернет-магазина . Все изменения
                        приобретают в силу с момента их публикации. 5.3
                        Покупатель обязуется: 5.3.1 К моменту заключения
                        Договора ознакомиться с содержанием Договора, условиями
                        Договора и ценами, предлагаемыми Продавцом на сайте
                        интернет-магазина . 5.3.2 Во исполнение
                        Продавцом своих обязательств перед Покупателем последний
                        должен сообщить все необходимые данные, однозначно
                        идентифицирующие его как Покупателя, и достаточные для
                        доставки Покупателю заказанного Товара </p><h3>Условия
                        возврата товара</h3><p> 6.1. Покупатель имеет право на
                        возврат продавцу товара надлежащего качества, если товар
                        не удовлетворил его по форме, габаритам, фасону, цвету,
                        размеру или по другим причинам не может быть им
                        использован по назначению. Покупатель имеет право на
                        возврат товара надлежащего качества в течение 14
                        (четырнадцати) дней, не считая дня покупки. Возврат
                        товара надлежащего качества проводится, если он не
                        использовался и если сохранен его товарный вид,
                        потребительские свойства, пломбы, ярлыки, а также
                        расчетный документ, выданный потребителю вместе с
                        проданным товаром. Перечень товаров, не подлежащих
                        возвращению на основаниях, предусмотренных в этом
                        пункте, утверждается кабинетом министров Украина. 6.2.
                        Возвращение Покупателю стоимости товара надлежащего
                        качества осуществляется в течение 30 (тридцати)
                        календарных дней с момента получения такого Товара
                        Продавцом при условии соблюдение требований,
                        предусмотренных п. 6.1. Договора, действующим
                        законодательством Украина. Стоимость товара подлежит
                        возврату путем банковского перевода. Доставка Товара
                        надлежащего качества по адресу Продавца осуществляется
                        за счет Покупателя и Продавцом Покупателю не
                        возмещается. 6.3. В случае выявление в течении
                        установленного гарантийного срока недостатков в товаре,
                        Покупатель, в порядке и в сроки, установленные
                        законодательством Украины, вправе предъявить Продавцу
                        требования, предусмотренные Законом Украины «О защите
                        прав потребителей». 6.4. Рассмотрение требований,
                        предусмотренных Законом Украины «О защите прав
                        потребителей», производится Продавцом при условии
                        предоставления Покупателем документов, предусмотренных
                        действующим законодательством Украины, в том числе, но
                        не исключительно, письменного заявления произвольной
                        формы, в котором содержится: - фамилия, имя, отчество
                        Покупателя; - номер и дата заказа; - дата оплаты Товара;
                        - номер ТТН, в случае если доставка осуществлялась
                        компанией «Новая почта»; - описание предъявляемых
                        требований. 6.5. Продавец не отвечает за недостатки
                        Товара, которые возникли после его передачи покупателю в
                        результате нарушения Покупателем правил пользования или
                        хранения Товара, действий третьих лиц или непреодолимой
                        силы. </p><h3>Ответственность сторон</h3><p> 7.1.
                        Стороны несут ответственность за неисполнение или
                        ненадлежащее выполнение условий настоящего Договора в
                        порядке, предусмотренном настоящим Договором и
                        действующим законодательством Украины. 7.2. В случае
                        обстоятельств непреодолимой силы стороны освобождаются
                        от выполнения условий настоящего Договора. Под
                        обстоятельствами непреодолимой силы для целей настоящего
                        Договора понимаются события, имеющие чрезвычайный,
                        неотвратимый и непредсказуемый характер, которые
                        исключают или объективно препятствуют выполнению
                        настоящего Договора, наступление которых стороны не
                        могли предвидеть и предотвратить своими разумными
                        действиями. </p><h3>Конфиденциальность и защита
                        персональных данных</h3><p> 8.1. Предоставляя свои
                        персональные данные на сайте интернет-магазина
                       при заявке на обратный звонок
                        Продавца, заявке на консультацию, заказе или оплате
                        Товара Покупатель предоставляет Продавцу свое
                        добровольное согласие на обработку, использование (в том
                        числе и передачу) своих персональных данных, а также
                        совершение других действий, предусмотренных Законом
                        Украины «О защите персональных данных », без ограничения
                        срока действия такой согласия. 8.2. Продавец обязуется
                        не разглашать полученную от Покупателя информацию. Не
                        считается нарушением предоставление Продавцом информации
                        контрагентам и третьим лицам, которые действуют на
                        основании договора с Продавцом, в том числе и для
                        выполнения обязательств перед Покупателем, а также в
                        случаях, когда раскрытие такой информации установлено
                        требованиями действующего законодательства Украины. 8.3.
                        Покупатель несет ответственность за поддержание своих
                        персональных данных в актуальном состоянии. Продавец не
                        несет ответственности за некачественное выполнения или
                        невыполнение своих обязательств в связи с
                        неактуальностью информации о Покупателе или
                        несоответствии ее действительности. </p><h3> Правила
                        использования материалов, размещенных на сайте</h3><p>
                        10.1. Сайт интернет-магазинасодержит
                        материалы, товарные знаки, фирменные наименование и
                        стили и другие охраняемые законом материалы, включая, но
                        не ограничиваясь, тексты, фотографии, графические
                        изображения, музыкальные и звуковые произведения. 10.2.
                        Все содержание сайта интернет-магазина 
                        охраняется законодательством Украины, международными
                        договорами. 10.3. Покупатель или любые другие третьи
                        лица не имеют права использовать материалы, размещенные
                        на сайте интернет-магазина , в
                        частности: вносить изменения, копировать, публиковать,
                        передавать третьим лицам и т.п. </p><h3>Прочие условия</h3><p>
                        11.1. Этот договор заключен на территории Украины и
                        действует в соответствии с действующим законодательством
                        Украины. 11.2. Все споры, которые возникают между
                        Покупателем и Продавцом, решаются путем переговоров. В
                        случае недостижения урегулирования спорного вопроса
                        путем переговоров, Покупатель и/или Продавец имеют право
                        обратиться за разрешением спора в судебные органы. 11.3.
                        Продавец имеет право вносить изменения к настоящему
                        Договору в одностороннем порядке, предусмотренном п.
                        5.2.1. Договора. Кроме того, изменения в Договор также
                        могут быть внесены по взаимному согласию сторон в
                        порядке, предусмотренном действующим законодательством
                        Украины </p><h3>Срок действия договора и порядок его
                        расторжения</h3><p> 12.1. Этот договор действует до
                        полного выполнения обязательств сторонами, за
                        исключением случаев его досрочного расторжения. 12.2. До
                        окончания срока действия этот договор может быть
                        расторгнут по взаимному согласию сторон и в других
                        случаях, предусмотренных настоящим Договором и
                        действующим законодательством Украины </p></div>

            </div>
        </main>
  <footer class="p-lg-5 p-2 footer">
      <div class="container-md">
          <div class="logo m-4">
              <img src="/images/logo/footer-logo.png" alt="Суши-Бар 'Киото'">
          </div>
          <div class="row p-md-3">
              <div class="col-md-2">
                  <ul class="list-unstyled mb-md-0">
                      <li><a class="text-light footer__nav-link" href="/kioto">О "Киото"</a></li>
                      <li><a class="text-light footer__nav-link" href="/delivery_info">Заказ и доставка</a></li>
                      <li><a class="text-light footer__nav-link" href="/policy">Политика конфиденциальности </a></li>
                  </ul>
                  <div class="social my-2"><a href="#" target="_blank"><img class="w-100" src="/images/social/vk.svg"
                                                                            alt="VK"></a></div>
              </div>
              <div class="col-md-4"></div>

              <div class="col-md-6 w-md-100 p-2">
                  <div class="contacts d-flex flex-column align-items-center p-md-4 mt-lg-n4">
                      <div>
                          <div class="mb-3"><span class="text-light fs-4">Суши-бар "Киото"</span></div>
                          <div class="mb-3"><span class="text-light">Адрес: Вроцлав, ул. Асфальтова, д. 1 </span>  </div>
                          <div class="mb-3"><span class="text-light">Телефон: <a class="text-light text-decoration-none" href="tel:+7883889988" >+7-888-388-99-88</a></span></div>
                          <div class="mb-3"><span class="text-light">Режим работы: <br>Вс-Чт с 12.00 до 01.00<br> Пт-Сб с 12.00 до 02.00</span></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
      
      </body>
      
      </html>