<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Десерты</title>
</head>
<body>
<a href="/order/current" th:text="'Корзина '+${order.getProducts().size()}"></a>

<div th:each="dessert: ${desserts}">
  <a th:href="@{/menu/{id}(id=${dessert.getId()})}"
     th:text="${dessert.title + ', ' +dessert.volume+ ', ' +dessert.price}">user</a>
  <a th:href="@{/menu/add-product/{id}(id=${dessert.getId()})}"><i class="fa-solid fa-plus"></i></a>
  <img th:src="@{${dessert.image}}">
</div>


<script src="https://kit.fontawesome.com/f280ff59d1.js" crossorigin="anonymous"></script>
</body>
</html>